body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 0 auto;
    width: 50%;
    height: auto;
}

section {
    margin-bottom: 5px;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    justify-content: center;
}

.meu-botao {
    background-color: blue;
    color: white;
    border: none;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.text{
    float: left;
}

.video{
float: right;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    margin-right: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
}

